<h1>Plant a Coral</h1>
<form method="post" action="/coral/new">

  <label for="coral-species">Coral Species: </label>
  <input id="coral-species" type="text" name="species"/>

  <label for="coral-name">Coral Name: ></label>
  <input id="coral-name" type="text" name="name"/>


  <label hidden for="coral-select">Select a Reef: ></label>
  <select hidden id="coral-select"  name="reef_id">
    <% for reef in @reefs %>
      <option value="<%= reef.id %>" <%= "selected" if reef.name == "Coral Farm" %>> <%= reef.name %> </option>
    <% end %>
  </select>

  <label for="plant-date">Plant Date: ></label>
  <input id="plant-date" type="date" name="plantdate" />

  <label hidden for="status-selection">Select a Coral Status:</label>
    <select hidden name="status" id="status-selection">
      <option value="Growing"> Growing </option>
  </select>

  <input type="submit"  value="Plant Coral"/>

</form>
