<form method="post" action="/coral">

  <label for="species-name">Coral Species: </label>
  <input id="species-name" type="text" name="species"/>

  <label for="coral-name">Coral Name: ></label>
  <input id="coral-name" type="text" name="name"/>


  <label for="reef-select">Select a Reef: ></label>
  <select id="reef-select"  name="name">
    <option value="Ningaloo">Ningaloo</option>
    <option value="Koh Ma">Koh Ma</option>
    <option value="Tubbataha">Tubbataha</option>
    <option value="Molasses">Molasses</option>
  </select>

  <input type="submit"  value="Transfer coral"/>

</form>
