<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MONTI</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/reef"> Reefs </a>
      </li>
      <li>
      <a  href="/coral"> Corals </a>
      </li>
      <li>
      <a  href="/coral/new"> Add a Coral </a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
