<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MONTI</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/reef"> Coral Farm / Reef </a>
      </li>
      <li>
      <a  href="/coral"> Corals </a>
      </li>
      <li>
      <a  href="/coral/new">Plant a Coral in the Farm</a>
      </li>
      <li>
      <a  href="/reef/new"> Transfer a Coral to Reef </a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
<footer>
  <ul>
    <h3> Related news</h3>
    <A HREF="http://www.noaanews.noaa.gov/stories2014/20140827_corallisting.html">NOAA NEWS</A>
    <br>
    <A HREF="http://www.chasingcoral.com"> CHASING CORAL DOCUMENTARY </A>
  </ul>
</footer>

</html>
