body {background-color: #94beee;}



li {
 color: red;
 display: inline;
 padding: 50px;
 text-align: center;
}

h1 {font-size: 35px;
font-family:fantasy;}

h2 {font-size: 20px;
font-family:impact;
font-}
