html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #f4f3da;
  margin: 10px;
  margin-bottom: 40px;
  border:10px;
  text-align: center;
background-image: url(reef5.jpg);
background-size: cover;
background-repeat: no-repeat;}



header { background-color: #56d9ec;
width: 100%;
height: 25px;}

footer {
  background-color: #56d9ec;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: black;
}

li {
 color: red;
 display: inline;
 padding: 50px;
 text-align: center;
}

a{font-family: fantasy;
font-weight: 700;
font-size: 10px;}

li:hover a{ color: red;}

h1 {font-size: 25px;
font-family:fantasy;
text-align: : center;
font color: white;
font-weight: 800;}

h2 {font-size: 30px;
font-family:fantasy;
font-weight: 700;}


h3 {font-size: 20px;
font-family:fantasy;
font color: black;}


label {color: white;}
