th {
 text-align: center;
 vertical-align: middle;
 border: 1px solid #356568;
 color: black;
 height: 1.5rem;
background-color: #ff6d6d;
}

td {
 ;
 text-align: center;
 vertical-align: middle;
 border: 1px solid #356568;
 color: black;
 height: 1.5rem;
background-color: white;
}

table {
width: 80vw;
margin: auto;
overflow: auto;
margin-top: 0.5em;
margin-bottom: 0.5em;
border: 5px solid black;
border-collapse:collapse;
background-color: white;

}



thead {
 font-size: 1.8em;
 text-align: left;
}
