 <p>Reef</p>

<% @reefs.each do |reef| %>
<p>Name: <%= reef.name() %></p>
<p>Location: <%= reef.location() %></p>
<p><a href="/reef/<%= reef.id %>">Show Corals in Reef</a></p>
<p>

</p>
<hr/>
<% end %>
