 <p>Coral Farm / Reefs</p>

<table>
<tr>
<th><% @reefs.each do |reef| %></th>
<th>Name: <%= reef.name() %> </th>
<th>Location: <%= reef.location() %> </th>
<th>><a href="/reef/<%= reef.id %>">Show Corals in Reef</a> </th>
</tr>

<p>


</p>

<% end %>
