<h1>Coral Farm / Reefs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
  </tr>
  <% @reefs.each do |reef| %>
  <tr>
    <td><%= reef.name() %> </td>
    <td><%= reef.location() %> </td>
    <td><a href="/reef/<%= reef.id %>"> Show Corals in Reef </a> </td>
  </tr>

  <% end %>
</table>
