<h1>Transfer Corals in the Reef</h1>
<form method="post" action="/reef/new">

  <label for="coral-species">Coral Species: </label>
  <input id="coral-species" type="text" name="species"/>

  <label for="coral-name">Coral Name: ></label>
  <input id="coral-name" type="text" name="name"/>


  <label for="coral-select">Select a Reef: ></label>
  <select id="coral-select"  name="reef_id">
    <% for reef in @reefs %>
      <option value="<%= reef.id %>"> <%= reef.name %> </option>
    <% end %>
  </select>

  <label for="plant-date">Plant Date: ></label>
  <input id="plant-date" type="date" name="plantdate" />

  <label for="status-selection">Select a Coral Status:</label>
    <select name="status" id="status-selection">
      <option value="Mature"> Mature Size ( 20cm tall) </option>
      <option value="Growing"> Middle Size (10cm tall) </option>
  </select>

  <input type="submit"  value="Transfer coral"/>

</form>
