<h1>Transfer Corals to the Reef</h1>
<form method="post" action="/reef/new">

  <label for="species-selection">Coral Species: </label>
  <select name="species" id="species-selection">
    <option value="Sarconphyton Sp."> Sarconphyton Sp. </option>
    <option value="Lobophytum Sp."> Lobophytum Sp. </option>
    <option value="Euphyllia Sp."> Euphyllia Sp. </option>
    <option value="Catalaphyllia Sp."> Catalaphyllia Sp. </option>
    <option value="Caulastrea Sp."> Caulastrea Sp. </option>
    <option value="Tracyphyllia Sp."> Tracyphyllia Sp. </option>
  </select>

  <label for="coral-name-selection">Coral Name: ></label>
  <select name="name" id="coral-name-selection">
    <option value="Common Toadstoll Coral"> Common Toadstoll Coral</option>
    <option value="Devil's Hand Coral"> Devil's Hand Coral </option>
    <option value="Hammer Coral"> Hammer Coral</option>
    <option value="Elegance Coral"> Elegance Coral </option>
    <option value="Trumpet Coral"> Trumpet Coral</option>
    <option value="Open Brain Coral"> Open Brain Coral </option>
  </select>

  <label for="coral-select">Select a Reef: ></label>
  <select id="coral-select"  name="reef_id">
    <% for reef in @reefs %>
      <option value="<%= reef.id %>"> <%= reef.name %> </option>
    <% end %>
  </select>

  <label for="plant-date">Plant Date: ></label>
  <input id="plant-date" type="date" name="plantdate" />

  <label for="status-selection">Select a Coral Status:</label>
    <select name="status" id="status-selection">
      <option value="Mature"> Mature Size ( 20cm tall) </option>
      <option value="midlle"> Middle Size (10cm tall) </option>
  </select>

  <input type="submit"  value="Transfer coral"/>

</form>
